<nav class="navbar navbar-default"
style="background-color: #E31268;">
  <div class="container-fluid">
  <div class="navbar-header">
    <button type="button" class="navbar"
    style="
    font-family: 'Calibri', sans-serif;
    width: auto;
    height: 39px;">
      <a routerLink="/leegstand/leegstand" style="color: black;">Leegstand</a>
    </button>
    <button type="button" class="navbar"
    style="
    font-family: 'Calibri', sans-serif;
    width: auto;
    height: 39px;">
      <a routerLink="/customer/customer" style="color: black;">Klantgegevens</a>
    </button>
    </div>
  </div>
</nav>
