<section class="position-relative pt-24 pt-md-32 overflow-hidden" *ngIf="addresses$ | async as addresses">
  <div class="container">
    <h1>Leegstand</h1>
    <hr>
    <button type="button" class="btn btn-primary" style="margin-right: 5px;" onclick="addAddress">
      Nieuw adres toevoegen
    </button>
    <button type="button" class="btn btn-warning">Adres afmelden</button>
    <hr>
    <div *ngFor="let address of addresses; index as i">
      <p>
        {{ address.streetName}} {{address.houseNumber}}{{address.houseNumberExtension? " " : ""}}{{address.houseNumberExtension}}, {{address.postCode}} {{ address.city }}
      </p>
    </div>
    <hr>
    <button type="button" class="btn btn-primary"
    [routerLink]="['']">back</button>
  </div>
    </section>
