<section class="position-relative pt-24 pt-md-32 overflow-hidden" *ngIf="addresses$ | async as addresses">
  <div class="container">
    <h1>Leegstand</h1>
    <hr>
    <button type="button" class="btn btn-primary" style="margin-right: 10px;" (click)="addAddress()">
      Nieuw adres toevoegen
    </button>
    <button type="button" class="btn btn-warning" (click)="openDialog()" [disabled]="selectedAddresses.length === 0">Adres afmelden</button>
    <hr>

    <app-list-addresses header="Actieve leveringsadressen" [expanded]=true [addresses]="addresses | filterAddresses: 'Active'" (selectedEans)="selectedAddresses = $event">
    </app-list-addresses>
    <br>

    <app-list-addresses header="Toekomstige leveringsadressen" [expanded]=false [addresses]="addresses | filterAddresses: 'Future'">
    </app-list-addresses>
    <br>

    <app-list-addresses header="Inactieve leveringsadressen" [expanded]=false [addresses]="addresses | filterAddresses: 'Past'">
    </app-list-addresses>

    <hr>
    <button type="button" class="btn btn-primary" [routerLink]="['']">back</button>
  </div>

</section>
