<!-- <h6>Actieve leveringsadressen</h6> -->
<!-- <div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">

      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <ng-container  *ngFor="let address of addresses; index as i">
          <div class="table" *ngIf="address.status == 'Active'">
            <tr><td ></td><td colspan="2"> {{ address.streetName | titlecase }} {{address.houseNumber}}{{address.houseNumberExtension? " " : ""}} {{address.houseNumberExtension}}, {{address.postCode}} {{ address.city | titlecase }}</td></tr>
            <tr><td [ngClass]="{'active':address.eanEStatus === 'Active', 'past':address.eanEStatus === 'Past', 'future':address.eanEStatus === 'Future'}"></td><td [width]="200"> EAN stroom:</td><td> {{ address.eanElectricity }} </td></tr>
            <tr><td [ngClass]="{'active':address.eanGStatus === 'Active', 'past':address.eanGStatus === 'Past', 'future':address.eanGStatus === 'Future'}"> </td><td [width]="200"> EAN gas: </td><td>{{ address.eanGas }}</td></tr>
          </div>
          </ng-container>
      </div>
    </div>
  </div>
  </div> -->

  <div  *ngFor="let address of addresses; index as i">
  <div class="divTable">
    <div class="headRow">
       <div class="divCell">{{ address.streetName | titlecase }} {{address.houseNumber}}{{address.houseNumberExtension? " " : ""}} {{address.houseNumberExtension}}, {{address.postCode}} {{ address.city | titlecase }}</div>
       <div  class="divCell" [ngClass]="{'active':address.eanEStatus === 'Active', 'past':address.eanEStatus === 'Past', 'future':address.eanEStatus === 'Future'}">EAN stroom: {{ address.eanElectricity }} </div>
       <div  class="divCell" [ngClass]="{'active':address.eanEStatus === 'Active', 'past':address.eanEStatus === 'Past', 'future':address.eanEStatus === 'Future'}">EAN gas: {{ address.eanGas }} </div>
    </div>
</div>
</div>
