/* input, label {
  display:block;
}

.formulier{
  float: left;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.fulline {
  width: max-content;
}

.button{
  margin-right: 5px;
  margin-top: 10px;

} */

.hrLine{
  margin-top: 50px;
}


