<div class="container">
  <form class="row g-3" [formGroup]="addressForm" (ngSubmit)="onSubmit()" (keyup)="onFormChange()">
    <h1>Vul onderstaand formulier in:</h1>
    <hr>
    <h4>Adresgegevens</h4>
    <div class="col-6">
      <label for="straat" class="form-label">Straat</label>
      <input type="text" class="form-control" id="straat" placeholder="" formControlName="straat" required="true">
      <div *ngIf="!addressForm.get('straat')?.valid && addressForm.get('straat')?.touched" class="help-block">
        Dit is een verplicht veld!
      </div>
    </div>
    <div class="col-3">
      <label for="huisnummer" class="form-label">Huisnummer</label>
      <input type="text" class="form-control" id="huisnummer" placeholder="" formControlName="huisnummer">
      <div *ngIf="!addressForm.get('huisnummer')?.valid && addressForm.get('huisnummer')?.touched">
        <div *ngIf="addressForm.get('huisnummer')?.hasError('required')">Dit is een verplicht veld!</div>
        <div *ngIf="addressForm.get('huisnummer')?.hasError('pattern')">Dit is geen geldig huisnummer!</div>
      </div>
    </div>
    <div class="col-md-3">
      <label for="toevoeging" class="form-label">Toevoeging</label>
      <input type="text" class="form-control" id="toevoeging" formControlName="toevoeging">
    </div>
    <div class="col-md-2">
      <label for="postcode" class="form-label">Postcode</label>
      <input type="text" class="form-control" id="postcode" formControlName="postcode">
      <div *ngIf="!addressForm.get('postcode')?.valid && addressForm.get('postcode')?.touched">
        <div *ngIf="addressForm.get('postcode')?.hasError('required')">Dit is een verplicht veld!</div>
        <div *ngIf="addressForm.get('postcode')?.hasError('pattern')">Dit is geen geldige postcode!</div>
      </div>
    </div>
    <div class="col-md-4">
      <label for="woonplaats" class="form-label">Woonplaats</label>
      <input type="text" id="woonplaats" class="form-control" formControlName="woonplaats">
      <div *ngIf="!addressForm.get('woonplaats')?.valid && addressForm.get('woonplaats')?.touched" class="help-block">
        Dit is een verplicht veld!
      </div>
    </div>
    <hr class="hrLine">

    <h4>Aansluitgegevens:</h4>
    <div class="col-6">
      <label class="form-label">EAN elektriciteit</label>
      <div *ngFor="let ean of addressForm.controls.electricityEans.controls; index as i" class="mb-4">
        <input type="text" class="form-control" [formControl]="ean"/>
        <div *ngIf="ean.invalid && ean.touched">
          <div *ngIf="ean.hasError('required')">Dit is een verplicht veld!</div>
          <div *ngIf="ean.hasError('pattern')">Een EAN bestaat uit alleen cijfers</div>
          <div *ngIf="ean.hasError('minlength')">Een EAN heeft minimaal 18 cijfers</div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <label class="form-label">EAN gas</label>
      <div *ngFor="let ean of addressForm.controls.gasEans.controls; index as i" class="mb-4">
        <input type="text" class="form-control" [formControl]="ean"/>
        <div *ngIf="ean.invalid && ean.touched">
          <div *ngIf="ean.hasError('required')">Dit is een verplicht veld!</div>
          <div *ngIf="ean.hasError('pattern')">Een EAN bestaat uit alleen cijfers</div>
          <div *ngIf="ean.hasError('minlength')">Een EAN heeft minimaal 18 cijfers</div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <label for="date" class="form-label">Startdatum</label>
      <input type="date" id="date" class="form-control" formControlName="startdatum">
      <div *ngIf="!addressForm.get('startdatum')?.valid && addressForm.get('startdatum')?.touched" class="help-block">
        Kies een startdatum
      </div>
    </div>
    <div class="col-12">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="nextaddress" (change)="onAddExtraAddress()">
        <label class="form-check-label" for="nextaddress">
          Voeg nog een adres toe
        </label>
      </div>
    </div>
    <div class="col-10">
      <a class="btn btn-danger" [routerLink]="['/leegstand/leegstand']">Annuleren</a>
    </div>
    <div class="col-2">
      <button type="submit" class="btn btn-success" [disabled]="!addressForm.valid">Opslaan</button>
    </div>
  </form>
</div>

