<div>
  <button (click)="setData()">set data</button>
  <button (click)="setError()">set error</button>
</div>

<app-async [asyncState]="state">
  <ng-template success>
    <strong>{{ state.data?.description }}</strong><br/>
    <strong>Postcode: </strong>{{ state.data?.address?.postcode }}<br/>
    <strong>HouseNumber: </strong>{{ state.data?.address?.houseNumber }}<br/>  
  </ng-template>
  <ng-template error let-error="error"> 
    Whoops: {{ error }}
  </ng-template>
</app-async>
<br/>
<app-async [asyncState]="state">
  <ng-template success let-data="data">
    <strong>{{ data.description }}</strong><br/>
    <strong>Postcode: </strong>{{ data.address.postcode }}<br/>
    <strong>HouseNumber: </strong>{{ data.address.houseNumber }}<br/>  
  </ng-template>
  <ng-template error let-error="error"> 
    Whoops: {{ error }}
  </ng-template>
</app-async>
