<mat-accordion>
  <mat-expansion-panel hideToggle>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState"
                             (closed)="panelOpenState"
                             [expanded]="expanded">
          <mat-expansion-panel-header>
            <mat-panel-title id="headingOne">
              <h6>{{header}}</h6>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <br>
          <app-address-item [address]="address" *ngFor="let address of addresses" (eanCodesSelected)="addEanCodes($event)"></app-address-item>
        </mat-expansion-panel>
      </mat-accordion>
