<ng-container  *ngFor="let address of addresses; index as i">
  <table *ngIf="address.status !== 'Past'">
    <tr><td>{{ address.status }}</td><td> {{ address.streetName}} {{address.houseNumber}}{{address.houseNumberExtension? " " : ""}}{{address.houseNumberExtension}}, {{address.postCode}} {{ address.city }}</td></tr>
    <tr><td></td><td> EAN stroom:</td><td> {{ address.eanElectricity }}</td></tr>
    <tr><td> </td><td> EAN gas: </td><td>{{ address.eanGas}}</td></tr>
  </table>
</ng-container>
<hr>
<ng-container  *ngFor="let address of addresses; index as i">
  <table *ngIf="address.status == 'Past'">
  <tr><td>{{ address.status }}</td><td> {{ address.streetName}} {{address.houseNumber}}{{address.houseNumberExtension? " " : ""}}{{address.houseNumberExtension}}, {{address.postCode}} {{ address.city }}</td></tr>
  <tr><td></td><td> EAN stroom:</td><td> {{ address.eanElectricity }}</td></tr>
  <tr><td> </td><td> EAN gas: </td><td>{{ address.eanGas}}</td></tr>
</table>
</ng-container>
